
.Content {
    display: flex;
    justify-content: space-evenly;

}

.Div {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
}

.ResumeBoxDiv {
    width: 70%;
}

.Title{
    font-size: 1.5rem;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

}
.Title img {
    width: 20%;
    margin-right: 1rem;
    height: auto;
}


@media only screen and (max-width: 769px){

    .Content {
        width: 100%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    .Div {
        width: 90%;
    }
    .ResumeBoxDiv {

        width: 100%;
        max-width: 100%;
    }
    .Title {
        margin-top: 10%;
        justify-content: start;
        font-size: 1.5rem;
    }

}