
.Content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.ImgContainer{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.ContentContainer{
    height: 50%;
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}


.Image{
    height: 95%;
    width: auto;

}

.ContentContainer p {
    font-size: 1.3rem;
    width: 75%;
}
.ContentContainer p span {
    background-image: url("/images/blueHighlight.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0.5rem;
    font-weight: 500;
}


@media only screen and (max-width: 769px){

    .ImgContainer{
        width: 100%;
        display: none;

    }
    .Image{
        width: 100%;
        height: auto;
    }

    .ContentContainer{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .ContentContainer p {
        font-size: 1.2rem;
        width: 90%;
        text-align: center;
    }
}