
.LanguageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    align-content: space-between;

}
.skill {
    border-bottom: 1px solid black;
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 0.4em;
    width: 29%;
    margin-left: 4%;
    margin-bottom: 1.7%;
    display: flex;
    align-items: center;

}

.skill img {
    margin-right: 4%;
    width: 2rem;
    height: auto;

}

.EmptySkill {
    border-bottom: none;
}

.LanguageTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.TechnologiesTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}


.ContentContainer{
    height: 85%;
    width: 100%;
    display: flex;
}

.ScrollDown {
    width: 3%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.Content {
    width: 94%;
    height: 100%;
}

.VerticalBarDiv{
    width: 3%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 769px) {

    .ContentContainer{
        height: fit-content;
    }
    .VerticalBarDiv{
        display: none;
    }

    .ScrollDown{
        display: none;
    }

    .Content {
        width: 100%;
        height: fit-content;
    }

    .LanguageContainer {
        width: 100%;
    }

    .skill {
        font-weight: 400;
        width: 90%;
    }


}