
.LanguageContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    align-content: space-between;

}
.skill {
    border-bottom: 1px solid black;
    font-weight: 700;
    font-size: 1.3rem;
    padding-bottom: 0.4em;
    width: 29%;
    margin-left: 4%;
    margin-bottom: 1.7%;
    display: flex;
    align-items: center;

}

.skill img {
    margin-right: 4%;
    width: 2rem;
    height: auto;

}

.EmptySkill {
    border-bottom: none;
}

.LanguageTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.TechnologiesTitle {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}


@media only screen and (max-width: 769px) {

    .LanguageContainer {
        width: 100%;
    }

    .skill {
        font-weight: 400;
        width: 90%;
    }

}