.Navbar{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.NavbarBrand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7%;


}
.Brand {

}

.NavbarElements {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 35%;

}
.NavbarElement {
    margin: 0 2rem;

}

.NavLink {
    text-decoration: none;
    color: var(--navbarElementsColor);
    transition: color 0.2s linear;
    font-size: 1.2rem;
}

.NavLink:hover{
    color: var(--navbarElementActiveColor);
    transition: color 0.2s linear;

}

.NavLinkActive{
    color: var(--navbarElementActiveColor);
    transition: color 0.2s linear;

}


@media only screen and (max-width: 769px) {


    .Navbar{
        padding-top: 4%;

    }

    .NavbarElement{
        display: none;
    }
    .Brand{
        width: 70%;
        height: auto;
    }
    .NavbarBrand {
        margin-left: 5%;
    }


}
