
.Content {
        display: flex;
        justify-content: center;
}

.Row {
        display: flex;
        justify-content: center;
}
.Col{
        width: 25%;
       height: fit-content;
}


@media only screen and (max-width: 769px){

    .Content {
        display: block;
        margin: 0 auto;
    }
    .Col{
        width: 95%;
        margin: 0 auto;

    }
}