:root {
  --navbarElementsColor: rgba(0, 0, 0, 0.50);
  --navbarElementActiveColor: #9BC368;
}

@font-face {
  font-family: Outfit;
  src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}
body {
  margin: 0;
  font-family: Outfit, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}









.section {
  width: 100vw;
  height: 100vh;
}

.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.number {
  font-size: 6rem;
}

.title {
  font-size: 2rem;
  letter-spacing: 1rem;
}
